<h1>Articles#new</h1>
<p>Find me in app/views/articles/new.html.erb</p>
<%= form_for @article do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :content, placeholder: 'content' %>
  <%= f.submit 'Create Article' %>
<% end %>